<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Default Select'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [cardOptionBlock]="true">
      <div class="row">
        <div class="col-sm-12 col-xl-4">
          <h4 class="sub-title">Multi Select</h4>
          <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [multiple]="true"></ng-select>
          <p class="m-t-10">The ng-select above is declared with the <code>multiple</code> attribute</p>
        </div>
      </div>
    </app-card>
  </div>
</div>
