body {
  font-size: 14px;
}

.fa-a:before {
  font-family: Arial; /* your font family here! */
  font-weight: bold;
  content: 'A';
}

// <span class="fa fa-p"></span><br/>



.fa-b:before {
  font-family: Arial; /* your font family here! */
  font-weight: bold;
  content: 'P';
}
