<!-- <ngx-spinner type="ball-clip-rotate-pulse"></ngx-spinner> -->
<div class="row">
    <div>
        <button class="btn btn-success" (click)="OpenClassModal('custom-modal-2')">Add new</button>
      </div>
      <jw-modal id="custom-modal-2">
          <div class="app-modal-header">
                <div style="text-align: center">
                <h4 class="modal-title"><b>{{modalButtonTextClass}}</b>
                  <button type="button" class="close basic-close"
                    (click)="closeModal1('custom-modal-2');">
                    <span aria-hidden="true">&times;</span>
                  </button></h4>
                </div>
                  <hr>
                  <div class="row">
                  <div class="col-sm-6">
                    <font size="4">Date:</font>
                  <div class="mt-2">
                      <div class="input-group">
                          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>                          <div class="input-group-append bg-default" (click)="d.toggle()" >
                            <span class="icofont icofont-ui-calendar input-group-text"></span>
                          </div>
                        </div>
                      <!-- <div class="input-group">
                        <input class="form-control" placeholder="Date" name="Date" id="Date" [(ngModel)]="selectedDate" ngbDatepicker
                          #d="ngbDatepicker" #DiaryDate="ngModel" required>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fa">&#xf073;</i></button>
                        </div>
                      </div> -->
                    </div>

                    <font size="4">Due Date:</font>
                    <div class="mt-2">
                        <div class="input-group">
                            <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>                            <div class="input-group-append bg-default" (click)="d.toggle()" >
                              <span class="icofont icofont-ui-calendar input-group-text"></span>
                            </div>
                          </div>
                        <!-- <div class="input-group">
                          <input class="form-control" placeholder="Due Date" name="DueDate" id="DueDate" [(ngModel)]="selectedDueDate" ngbDatepicker
                            #d="ngbDatepicker" #DueDate="ngModel" required>
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                              <i class="fa">&#xf073;</i></button>
                          </div>
                        </div> -->
                      </div>


                      <font size="4">Batch:</font>
                    <div class="mt-2">
                        <div class="input-group">
                            <select style="width:500px;"
                            [(ngModel)]="diary.AcademicYearId" #Name="ngModel" required>
                                <option value="" disabled selected>Select Year</option>
                                <option *ngFor="let fac of accountingyears" value={{fac.Id}}>{{fac.AcademicYear}} </option> 
                              </select>
                        </div>
                      </div>

                      <div class="mt-2">
                          <div class="input-group">
                              <angular2-multiselect name="dropdown" [data]="multiselect" [(ngModel)]="selectedclass"
                              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event,user)" (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
                            </angular2-multiselect>
                          </div>
                        </div>
<!-- 
                      <font size="4">Class:</font>
                    <div class="mt-2">
                        <div class="input-group">
                            <select style="width:500px;"
                            [(ngModel)]="diary.ClassSectionMediumId" #Name="ngModel" required>
                                <option value="" disabled selected>Select Class</option>
                                <option *ngFor="let cls of classessections" value={{cls.Id}}>{{cls.Name}} </option>                           
                               </select>
                        </div>
                      </div> -->

                  </div>

                  <div class="col-sm-6">
                      <font size="4">Subject:</font>
                      <div class="mt-2">
                          <div class="input-group">
                          <input type="city" class="form-control"
                          [(ngModel)]="diary.Subject" #Name="ngModel" required>
                          </div>
                        </div>
                        
                        <font size="4">HomeWork Description:</font>
                      <div class="mt-2">
                          <div class="input-group">
                              <textarea name="message" rows="6" cols="100"
                              [(ngModel)]="diary.Description" #Name="ngModel" required>
                                  
                                  </textarea>

                          </div>
                        </div>

                        <button class="text-left" id="Saveclass"
                  (click)="saveDiary('custom-modal-2')" type="submit" 
                  class="btn btn-primary">{{modalButtonText}}</button>

                  
                  &nbsp;
                  &nbsp;
                  <button  type="button" id="closenewclass" class="btn btn-danger"
                      (click)="closeModal1('custom-modal-2')" >Cancel</button>

                  </div>
                </div>
          </div>
      </jw-modal>        
</div>
<br>
<app-card [title]="Class" [classHeader]="true">
    <h5>Diary</h5>
    <hr>
    <ng2-smart-table [settings]="settings" [source]="diarygrid" 
     (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onSaveConfirm($event)" 
      (createConfirm)="onCreateConfirm($event)"
      (custom)="onDiaryCustomAction($event)">
    </ng2-smart-table>

</app-card>