
<ngx-spinner type="ball-clip-rotate-pulse"></ngx-spinner>
<div class="col-md-12 col-lg-12">
    <app-card [title]=""[cardOptionBlock]="true">
        <h5>Accounting (Expense Account)</h5>
        <hr>
        <div ngbDropdown class="dropdown-primary">
            <button ngbDropdownToggle class="btn btn-primary waves-effect waves-light " type="button">Fees Management</button>
            <div ngbDropdownMenu>
              <a class="dropdown-item waves-light waves-effect" href="javascript:">Statements</a>
              <a class="dropdown-item waves-light waves-effect" href="javascript:">Direct Payments</a>
               <!-- <a class="dropdown-item waves-light waves-effect" href="javascript:">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item waves-light waves-effect" href="javascript:">Something else here</a>  -->
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
          <div ngbDropdown class="dropdown-success">
              <button ngbDropdownToggle class="btn btn-success waves-effect waves-light " type="button">Transactions</button>
              <div ngbDropdownMenu>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Indirect Income</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Expense</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Bills</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Internal Transactions</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Journal Transactions</a>
              </div>
            </div>
    
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
          <button class="btn btn-success ">Payroll</button>
    
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
            <div ngbDropdown class="dropdown-info">
              <button ngbDropdownToggle class="btn btn-success waves-effect waves-light " type="button">Reports</button>
              <div ngbDropdownMenu>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Fees Reports</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Profit and Loss</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Balance Sheet</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Trial Balance</a>
              </div>
            </div>
    
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
            <div ngbDropdown class="dropdown-warning">
                <button ngbDropdownToggle class="btn btn-success waves-effect waves-light " type="button">Settings</button>
                <div ngbDropdownMenu>
                <div *ngFor="let menuItem of accountingMenu">
                  <a class="dropdown-item waves-light waves-effect" [routerLink]="[menuItem.ModuleName,menuItem.routerLink]"
                   href="javascript:">{{menuItem.Name}}</a>
                  </div>
                </div>
              </div>
    </app-card>
  </div>
<div class="row">
  <div class="col-sm-6">
    <app-card [title]="FeesTemplate" [classHeader]="true">
      <div class="mt-3">
        <font size="3">Manage Expense Account</font>
      </div>
      <div style="text-align: center">
        <div class="mt-3">
          <div class="col-sm-12">
            <input type="text" class="form-control" name="Name" placeholder="Expense Account"
              [(ngModel)]="expenseaccount.Name" #Name="ngModel" required>
            <span class="md-line"></span>
          </div>
        </div>
        <div class="mt-3">
          <div class="col-sm-12">
            <select class="browser-default custom-select" [(ngModel)]="expenseAccountList.ExpenseHeaderId"
              #ExpenseHeaderId="ngModel" required>
              <option value="0">--Choose Expense Account--</option>
              <option *ngFor="let accn of expenseAccountList" value={{accn.Id}}>{{accn.ExpenseHeaderId}} </option>
            </select>
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" id="saveExpenseAccount" (click)="saveExpenseAccount()"
          (click)="cleardata()" type="submit">{{Buttontext}}</button>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="ExpenseAccount" [classHeader]="true">
      <h5>Expense Account</h5>
      <hr>
      <ng2-smart-table [settings]="settings" [source]="expenseAccountGrid" (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"
        (custom)="onCustomAction($event)">
      </ng2-smart-table>
    </app-card>
  </div>
</div>

