<ngx-spinner type="ball-clip-rotate-pulse"></ngx-spinner>
<div class="col-md-12 col-lg-12">
    <app-card [title]=""[cardOptionBlock]="true">
        <h5>Accounting (Fees Accounts)</h5>
        <hr>
        <div ngbDropdown class="dropdown-primary">
            <button ngbDropdownToggle class="btn btn-primary waves-effect waves-light " type="button">Fees Management</button>
            <div ngbDropdownMenu>
              <a class="dropdown-item waves-light waves-effect" href="javascript:">Statements</a>
              <a class="dropdown-item waves-light waves-effect" href="javascript:">Direct Payments</a>
               <!-- <a class="dropdown-item waves-light waves-effect" href="javascript:">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item waves-light waves-effect" href="javascript:">Something else here</a>  -->
            </div>
          </div>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
          <div ngbDropdown class="dropdown-success">
              <button ngbDropdownToggle class="btn btn-success waves-effect waves-light " type="button">Transactions</button>
              <div ngbDropdownMenu>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Indirect Income</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Expense</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Bills</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Internal Transactions</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Journal Transactions</a>
              </div>
            </div>
    
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
          <button class="btn btn-success ">Payroll</button>
    
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
            <div ngbDropdown class="dropdown-info">
              <button ngbDropdownToggle class="btn btn-success waves-effect waves-light " type="button">Reports</button>
              <div ngbDropdownMenu>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Fees Reports</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Profit and Loss</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Balance Sheet</a>
                <a class="dropdown-item waves-light waves-effect" href="javascript:">Trial Balance</a>
              </div>
            </div>
    
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
    
            <div ngbDropdown class="dropdown-warning">
                <button ngbDropdownToggle class="btn btn-success waves-effect waves-light " type="button">Settings</button>
                <div ngbDropdownMenu>
                <div *ngFor="let menuItem of accountingMenu">
                  <a class="dropdown-item waves-light waves-effect" [routerLink]="[menuItem.ModuleName,menuItem.routerLink]"
                   href="javascript:">{{menuItem.Name}}</a>
                  </div>
                </div>
              </div>
    </app-card>
  </div>
<div class="row">
  <div class="col-sm-6">
    <app-card [title]="FeesAccount" [classHeader]="true">
        <div style="text-align: center">
            <h5>{{Headingtext}}</h5>
            <br>
            <input type="text" name="Accounting year"  placeholder="Fees Accounts"
            [(ngModel)]="feesaccount.AccountName"  #Name="ngModel" required> 
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-primary"
            id="savefeesaccounts"
            (click)="savefeesaccount()" 
            (click)= "cleardata()" type="submit" >{{Buttontext}}</button>
            &nbsp;
            &nbsp;
            &nbsp; 
            &nbsp;
            <button type="button" class="btn btn-danger"
            (click)= "cleardata()">Cancel</button>
            </div> 

    </app-card>
  </div>

  <div class="col-sm-6">
    <app-card [title]="Feesaccountlist" [classHeader]="true">
        <h5>Fees Accounts</h5>
        <hr>

        <ng2-smart-table [settings]="settings" [source]="feesaccounts" (deleteConfirm)="onDeleteConfirm($event)"
       (editConfirm)="onSaveConfirm($event)"
       (createConfirm)="onCreateConfirm($event)"
       (custom)="onCustomAction($event)">

      </ng2-smart-table>
    </app-card>
  </div>
</div>