<p>
  custom-fields works!
</p>
<div class="row">
  <div class="col-sm-6">
    <app-card>
      <div class="mt-3">
        <h5>Custom Field</h5>
        <hr>
      </div>
      <div style="text-align: center">
        <div class="mt-3">
          <div class="col-xl-12">
            <input type="text" class="form-control" placeholder="Field Name" [(ngModel)]="Customfield.Name" #Name="ngModel"
              required>
          </div>
        </div>
        <div style="text-align: left">
        <div class="mt-3">
        <ui-switch color="#4680ff" switchColor="#fff" size="small" [(ngModel)]="Customfield.ExportToExcel" #Name="ngModel"
          required></ui-switch> <b> &nbsp;: Export this Field to Excel While Exporting</b>
          </div>
      </div>
        <br>
        <button type="button" class="btn btn-primary" id="saveCustomField" (click)="saveCustomField()"
          (click)="cleardata()" type="submit">{{Buttontext}}</button>
        &nbsp;&nbsp;&nbsp; &nbsp;
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="CustomField">
      <div class="mt-3">
        <h5>Custom Field</h5>
        <hr>
      </div>
      <ng2-smart-table [settings]="settings" [source]="customField" (deleteConfirm)="onDeleteConfirm($event)"
        (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)"
        (custom)="onCustomAction($event)">
      </ng2-smart-table>
    </app-card>
  </div>
</div>
